/*
color palette
Main Color #7e866f - - dark green
Main highlight #C9D0BE - light green
Secondary color - #764019 - dark brown
secondary highlight #bc834e - orange
third color - #cb9d83 - peach
third highlight - #d6b9a7 - light peach
*/

/* CSS Variables */
:root {
    --primary-color:  #764019; /*Dark Brown*/
    --secondary-color: #7e866f; /*Dark Green*/
    --tertiary-color: #cb9d83; /*peach*/
    --highlight-color:  #C9D0BE; /*Lighter Green*/
    --highlight-color-secondary: #bc834e; /*Orange*/
    --highlight-color-light: #d6b9a7; /*light Peach*/
    
}

/* Global Styles */

#navbar {
    background-color: var(--primary-color);
    margin-top: 0;
}

.social-bar {
    display:flex;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    text-align: center;
    /*padding: 1.5rem;*/
    /*margin: -40px;*/
  
}

.social-bar a {
    text-decoration: none;
    color: var(--highlight-color-light);
    font-size: 1.3rem;
    transition: color 0.3s ease-in-out;
    opacity: .5;
    filter: alpha(opacity=40);
}

.social-bar a :hover {
    color: var(--highlight-color-secondary);
    opacity: 1;
    filter: alpha(opacity=100);
}
    