/*
color palette
Main Color #7e866f - - dark green
Main highlight #C9D0BE - light green
Secondary color - #764019 - dark brown
secondary highlight #bc834e - orange
third color - #cb9d83 - peach
third highlight - #d6b9a7 - light peach
*/

/* CSS Variables */
:root {
    --primary-color:  #764019; /*Dark Brown*/
    --secondary-color: #7e866f; /*Dark Green*/
    --tertiary-color: #cb9d83; /*peach*/
    --highlight-color:  #C9D0BE; /*Lighter Green*/
    --highlight-color-secondary: #bc834e; /*Orange*/
    --highlight-color-light: #d6b9a7; /*light Peach*/
    
}

/* Global Styles */

#navbar {
    background-color: var(--primary-color);
}

#navbar li *{
    color: var(--highlight-color-light)
}
    